body{width: 100%;
background-color: #AFEEEE;
height: 100%;
margin: 0;}
h1{
	position: relative;
	top: 40px;
	left: 50px;
	color: #FFFFFF;
}
.header{width: 100%; margin: 0 auto;}

h1, h2, h3, h4, h5{margin: 0;}
.color{text-align: center; background-color: #2b2f49;}
.header-inner{
	display: flex;
	justify-content: space-between;
	height: 100px;
	width: 110%;
	background-color: 	#000080;}


.logo, .menu{margin: auto 0;}

.menu-link{

	color: #ffffff;
	text-decoration: none;
	margin-left:90px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	opacity: .8;
	transition: linear .3s}
.nav-link:hover{opacity: 1; color: rgb(255, 200, 0);}

.img-a{ height: 13px }
#header-main-title-h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 72px;
	line-height: 71px;
	margin-left: -25px;
	text-transform: uppercase;
    color: #7B68EE;
}
.header-main-info{margin-top:45px}
.header-main-title, .header-main-subtitle{margin: 30px auto; 
	text-align: center; 
	color: #7B68EE;}
#header-main-subtitle-p{
	position: relative;
	left: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 21px;
	line-height: 33px;
	opacity: .8;
	margin-top: 50px; 
}

#header-main-button-a{
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    padding: 12px 40px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.3s linear;
    margin-top: 80px;
    background-color: #e84545;}
.opened-page{border-bottom: 1px solid #ffc800; color:#ffc800; opacity: 1}

.work-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 70px 60px;}
.header-search-button-a{
      display: inline-block; 
    background: #8C959D; 
    color: #fff;
    height: 13px;
    text-transform: uppercase;
    margin-left:4px; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 3px;}

.work{
	margin-left: 60px;
	width: 305px;
	text-align: center;
	flex-wrap: wrap;
	color: #7B68EE;
}

.work-icon{width: 300px}

.work-title{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;}
.work-subtitle,.people{
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 14px;
color: #7B68EE}
.people{
	margin-top: 70px;
	display: flex;
	justify-content: space-between;}
.people-logo{width: 200px; }
.people-job{
	color: red;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;}
.people-subtitle{font-size: 12px;
color: #7B68EE}

